# Generated caches, builds and local settings
.godot/
.vs/
.vscode/
build/
dist/
android/build/
**/__pycache__/
**/*.pyc
**/*.obj
**/*.o
**/*.a
**/*.lib
**/*.exp
**/*.pdb
**/.sconsign*
*.log
build_log.txt
*.import
export_credentials.cfg
.env
.env.*
addons/codis_serial/bin/
addons/ziva_agent/bin/
addons/ziva_agent/bin-deps/
addons/ziva_agent/ziva_agent.gdextension
addons/ziva_agent/ziva_agent.gdextension.uid

**/build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
addons/ziva_agent/zivacode/
